# Backend (Java / Maven)
backend/target/
backend/.idea/
backend/*.iml
*.class

# Frontend (Angular / Node)
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.vscode/
frontend/package-lock.json

# Sistema
.DS_Store
Thumbs.db