# Maven / Java build
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/vcs.xml
.idea/workspace.xml
*.iws
*.iml
*.ipr

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Sistema / misc
.DS_Store
Thumbs.db

# Arquivos de documentação
HELP.md

### VS Code ###
.vscode/
