<div nz-row [nzGutter]="[16, 16]" nzJustify="center" nzAlign="middle">

  <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6">
    <nz-card nzTitle="Total Calories Burned" style="background-color: aliceblue">
      <p>{{ statsData?.totalCaloriesBurned }} cal</p>
    </nz-card>
  </div>

  <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6">
    <nz-card nzTitle="Total Distance Covered" style="background-color: aliceblue">
      <p>{{ statsData?.distance | number : '1.1-1' }} Km</p>
    </nz-card>
  </div>

  <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6">
    <nz-card nzTitle="Total Steps Taken" style="background-color: aliceblue">
      <p>{{ statsData?.steps }}</p>
    </nz-card>
  </div>

</div>

<div nz-row [nzGutter]="[16, 16]" nzJustify="center" nzAlign="middle" style="margin-top: 20px">

  <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6">
    <nz-card nzTitle="Total Time Spent" style="background-color: aliceblue">
      <p>{{ statsData?.duration }} min</p>
    </nz-card>
  </div>

  <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6">
    <nz-card nzTitle="Achieved Goals" style="background-color: aliceblue">
      <p>{{ statsData?.achievedGoals }}</p>
    </nz-card>
  </div>

  <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6">
    <nz-card nzTitle="Not Achieved Goals" style="background-color: aliceblue">
      <p>{{ statsData?.notAchievedGoals }}</p>
    </nz-card>
  </div>

</div>

<div nz-row [nzGutter]="[16, 16]" style="margin-top: 15px">

  <div nz-col nzXs="24" nzLg="12">
    <nz-card nzTitle="Recent Workouts" style="background-color: aliceblue">
      <div class="chart-container" #workoutContainer>
        <canvas #workoutLineChart></canvas>
      </div>
    </nz-card>
  </div>

  <div nz-col nzXs="24" nzLg="12">
    <nz-card nzTitle="Recent Activities" style="background-color: aliceblue">
      <div class="chart-container" #activityContainer>
        <canvas #activityLineChart></canvas>
      </div>
    </nz-card>
  </div>

</div>
